@import url("./reset.css");

/* ---------------------------
   Tokens
---------------------------- */
:root {
  /* colors */
  --blue-900: hsl(233, 54%, 16%);
  --blue-600: hsl(234, 25%, 52%);
  --pink-600: hsl(341, 92%, 62%);
  --pink-300: hsl(341, 100%, 83%);
  --gray: hsl(232, 10%, 56%);
  --white: hsl(0, 0%, 100%);
  --gradient-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-pink-lightened: linear-gradient(
    hsl(13, 100%, 82%),
    hsl(322, 86%, 77%)
  );
  --gradient-purple-lightened: linear-gradient(
    hsl(267, 70%, 78%),
    hsl(322, 86%, 77%)
  );
  --gradient-background: linear-gradient(hsl(0, 0%, 100%), hsl(234, 100%, 97%));

  --s-100: 0.5rem;
  --s-150: 0.75rem;
  --s-200: 1rem;
  --s-250: 1.125rem;
  --s-300: 1.5rem;
  --s-400: 2rem;
  --s-500: 2.5rem;
  --s-550: 2.75rem;
  --s-600: 3rem;
  --s-700: 3.5rem;
  --s-800: 4rem;
  --s-1000: 5rem;
  --s-1600: 8rem;
  --s-1800: 9rem;
}

/* Typography */

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--blue-900);
}

p {
  color: var(--gray);
}

a {
  color: var(--pink-600);
}

a:hover {
  cursor: pointer;
  color: var(--pink-300);
}

/* Content widths */
.max-content-width {
  max-width: 90rem;
  margin-inline: auto;
  overflow-x: hidden;
  background: var(--gradient-background);
}

.inner-content {
  max-width: 20.95rem;
  margin-inline: auto;
}

@media (min-width: 48rem) {
  .inner-content {
    max-width: 42.5rem;
  }
}

@media (min-width: 64rem) {
  .inner-content {
    max-width: 70rem;
  }
}

/* components */
.logo {
  height: 1.25rem;
}

@media (min-width: 64rem) {
  .logo {
    height: 1.75rem;
  }
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 1.5;
  background: var(--blue-900);
  color: var(--white);
  padding: var(--s-200) var(--s-400);
  border-radius: 20rem;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
}

.btn:hover,
.btn:active {
  background: var(--blue-600);
  color: var(--white);
}

.btn-primary {
  background: var(--gradient-pink);
}

.btn-primary:hover,
.btn-primary:active {
  background: var(--gradient-pink-lightened);
  color: var(--white);
}

.btn-secondary {
  background: var(--gradient-purple);
}

.btn-secondary:hover,
.btn-secondary:active {
  background: var(--gradient-purple-lightened);
  color: var(--white);
}

@media (min-width: 48rem) {
  .btn {
    padding: var(--s-150) var(--s-300);
  }
}

@media (min-width: 64rem) {
  .btn {
    padding: var(--s-200) var(--s-400);
  }
}

.btn-small {
  padding: var(--s-150) var(--s-300);
}

@media (min-width: 64rem) {
  .btn-small {
    padding: var(--s-200) var(--s-400);
  }
}

/*  navbar */

nav {
  padding-block: var(--s-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

@media (min-width: 48rem) {
  nav {
    padding-block: var(--s-300);
  }
}

/* banner (hero section) */
.banner {
  display: grid;
  align-items: center;
  gap: var(--s-600);
  padding-block: var(--s-800);
  position: relative;
}

.banner p {
  font-size: 1.125rem;
}

.banner picture {
  z-index: 0;
  pointer-events: none;
  position: static;
}

@media (min-width: 48rem) {
  .banner {
    grid-template-columns: 1fr 1fr;
    gap: var(--s-300);
    align-items: center;
    min-height: 25rem;
  }

  .banner picture {
    position: absolute;
    top: -35%;
    right: -45%;
    width: 90%;
    height: auto;
  }
}

@media (min-width: 64rem) {
  .banner {
    min-height: 35.25rem;
  }

  .banner picture {
    position: absolute; /* remove it from normal grid flow */
    top: -40%; /* position at top of banner */
    right: -40%; /* shift to the right to overflow */
    width: 80%;
    height: auto;
  }
}

.banner--title {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-block-end: var(--s-300);
}

.banner--text {
  margin-block-end: var(--s-500);
}

@media (min-width: 64rem) {
  .banner--title {
    font-size: 3.5rem;
  }
}

/* Courses Section */

.courses {
  display: grid;
  gap: calc(var(--s-400) + 1.75rem);
  padding-block-start: var(--s-800);
  padding-block-end: var(--s-1000);
}

@media (min-width: 48rem) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
    padding-block-end: var(--s-1800);
  }
}

@media (min-width: 64rem) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--s-700) + 1.75rem);
  }
}

.card {
  position: relative;
  padding: var(--s-800) var(--s-400) var(--s-500);
  background: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--s-300);
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0px;
}

.card h3 {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0px;
}

.card p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0px;
}

.card a {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-block-start: auto;
}

@media (min-width: 48rem) {
  .card h3 {
    font-size: 1.25rem;
  }

  .card p {
    font-size: 1.125rem;
  }
}

@media (min-width: 64rem) {
  .card h2 {
    font-size: 2rem;
  }

  .card h3 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0px;
  }

  .card p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0px;
  }
}

.card-header {
  padding: var(--s-400);
  background: var(--gradient-pink);
  color: var(--white);
}

.card-logo {
  position: absolute;
  top: 0;
  left: var(--s-400);
  transform: translateY(-50%);
}

/* footer */
footer {
  background: var(--blue-900);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue-900);
  padding: var(--s-300) var(--s-250);
}
